// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.footer_links {
  display: flex;
  flex-direction: row;
}

.footer_links > li {
  padding: 10px;
  display: flex;
}

th {
  padding-left: 50px;
  padding-right: 50px;
}
